.wrapper {
  font-family: 'Bruno Ace SC', cursive;
  position: relative;
  height: 100vh;
  padding: 50px;
  color: white;
}

.about_section {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about h1 {
  font-size: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
}

.copy {
  line-height: 1.5;
  font-size: 18px;
}

.back_text {
  font-size: 18px;
}

.hr1 {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #fc885b;
}

.hr2 {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #ccabda;
}

.hr3 {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #85e3ce;
}

.footer {
  font-family: 'Montserrat', sans-serif;
}

.jikan,
.jikan:link,
.jikan:visited {
  text-decoration: none;
  color: #ffdd95;
}

.back_section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.copy {
  font-size: 16px;
}

.icon_wrap {
  display: inline-block;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  color: #ff7a00;
  transform: translateX(5px);
  transition: transform 0.4s ease;
}

.icon:hover {
  cursor: pointer;
  color: #ff9736;
  transform: translateX(-5px);
  transition: transform 0.4s ease;
}

.vid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -99;
}

@media only screen and (max-width: 1200px) {
  .about_section {
    width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    padding: 25px;
  }

  .about_section {
    width: 100%;
    align-items: end;
  }

  .article {
    gap: 0.5rem;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    padding: 1rem;
    border-radius: 16px;
  }

  .about h1 {
    font-size: 18px;
  }

  .about {
    font-size: 16px;
  }

  .copy {
    line-height: 1.3;
    font-size: 16px;
  }

  .back_text {
    font-size: 16px;
  }

  .back_section {
    gap: 1.5rem;
  }

  .icon {
    width: 36px;
    height: 36px;
  }

  .vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 20px;
  }

  .about h1 {
    font-size: 16px;
  }

  .about {
    font-size: 14px;
  }

  .copy {
    font-size: 14px;
  }

  .back_text {
    font-size: 14px;
  }
}
