.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  padding: 25px;
  background-color: black;
  color: white;
}

.item1 {
  grid-column: 1 / 13;
  grid-row: 1;
  display: flex;
  align-items: start;
  justify-content: center;
}

.item2 {
  grid-column: 6 / 13;
  grid-row: 2;
  min-width: 420px;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.item3 {
  font-family: 'Bruno Ace SC', cursive;
  grid-column: 1 / 6;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.75rem;
  padding: 1.75rem;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 40px;
  color: #ff7a00;
  transform: translateX(-5px);
  transition: transform 0.4s ease;
}

.icon:hover {
  cursor: pointer;
  color: #ff9736;
  transform: translateX(5px);
  transition: transform 0.4s ease;
}

.group {
  position: relative;
  padding-right: 1.5rem;
}

.input {
  font-size: 16px;
  padding: 10px;
  border-radius: 16px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

.input:focus {
  outline: none;
}

.label {
  color: #8f8f8f;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 1s ease all;
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label {
  top: -25px;
  font-size: 18px;
  color: #ff7a00;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ff7a00;
  transition: 1s ease all;
  -moz-transition: 1s ease all;
  -webkit-transition: 1s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

.item4 {
  grid-column: 1 / 13;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 15px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.39);
  cursor: pointer;
}

.card:hover {
  background-color: rgb(255, 122, 0, 0.5);
  transition: all 1s ease;
}

.img_wrap {
  height: 220px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 16px;
}

.api_img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.text_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  .item2 {
    grid-column: 1 / 13;
    grid-row: 2;
    background-position: center;
  }

  .item3 {
    grid-column: 1 / 13;
    grid-row: 3;
    justify-content: start;
  }

  .item4 {
    grid-column: 1 / 13;
    grid-row: 4;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .item1 {
    grid-column: 1 / 2;
  }

  .item2 {
    grid-column: 1 / 2;
    min-width: 280px;
    min-height: 350px;
  }

  .item3 {
    grid-column: 1 / 2;
  }

  .container {
    max-width: 280px;
    align-items: center;
    font-size: 16px;
  }

  .form {
    width: 100%;
    justify-content: start;
  }

  .icon {
    font-size: 36px;
  }

  .input {
    font-size: 14px;
    width: 160px;
  }

  .label {
    font-size: 14px;
  }

  .input:focus ~ .label,
  .input:valid ~ .label {
    left: 0px;
    font-size: 14px;
  }

  .bar {
    width: 160px;
  }

  .item4 {
    grid-column: 1 / 2;
  }
}
