.nav {
  font-family: 'Bruno Ace SC', cursive;
  font-size: 18px;
}

.list {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.link {
  color: #576cbc;
}

.link,
.link:link,
.link:visited {
  text-decoration: none;
}

.link:hover {
  color: #fbc638;
}
